 /***Element-Styles***/
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

 a:link {
   color: #D5EEBB;
   text-decoration: none;
 }

 a:visited {
   color: #4E6C50;
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }

 a:active {
   text-decoration: underline;
 }

 body {
   font-family: 'Merriweather', serif;
   margin: 0;
   text-align: center;
   background-color: #FEFCF3;
 }

 h1 {
   color: #4E6C50;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem;
   margin: 50px auto 0 auto;
 }

 h2 {
   color: #4E6C50;
   font-family: 'Montserrat', sans-serif;
   font-size: 2.5rem;
   font-weight: normal;
 }

 h3 {
   color: #395144;
   font-family: 'Montserrat', sans-serif;
 }

 hr {
   border-style: none;
   border-top-style: dotted;
   border-color: #4E6C50;
   border-width: 5px;
   width: 4%;
   margin: 100px auto;
 }

 p {
   color: #395144;
   line-height: 2;
 }

 /***Class-Styles***/
 .btn {
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   color: #D5EEBB;
   font-size: 20px;
   background: #395144;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }

 .btn:hover {
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family: 'Montserrat', sans-serif;
   color: #D5EEBB;
   font-size: 20px;
   background: #4E6C50;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }

.intro {
  width: 50%;
  margin: 50px auto;
}

.copyright {
  color: #D5EEBB;
}

 .top-container {
   background-color: #7FC8A9;
   position: relative;
   padding-top: 100px;
 }

 .middle-container {
   margin: 100px auto 100px auto;
 }

 .bottom-container {
   background-color: #7FC8A9;
   margin: 0;
   padding: 20px 0 20px;
 }

 .activity-row {
   margin: 100px auto 100px auto;
   text-align: left;
   width: 50%;
 }

 .skill-row {
   margin: 100px auto 100px auto;
   text-align: left;
   width: 50%;
 }

.contact-message {
  margin: 20px auto 50px;
}

 /*PIX-Styling*/
 .skill-row-pic23 {
   float: left;
   margin-right: 30px;
   width: 25%;
 }

 .skill-row-pic22 {
   float: right;
   margin-left: 30px;
   width: 25%;
 }

 .top-cloud {
   position: absolute;
   right: 300px;
   top: 50px;
 }

 .bottom-cloud {
   position: absolute;
   left: 300px;
   bottom: 300px;
 }
